<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShopLift</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style11.css') }}" />
  </head>

  <body class="mobile">
    <nav>
      <div class="container nav-wrapper">
        <div class="brand">
          <span><strong>ShopLift.com</strong></span>
          
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </nav>

    <!-- CHAT BOT -->
    <div class="container">
      <div class="chatbox">
        <div class="chatbox__support">
          <div class="chatbox__header">
            <div class="chatbox__image--header">
              <img
                src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                alt="image"
              />
            </div>
            <div class="chatbox__content--header">
              <h4 class="chatbox__heading--header">Chat support</h4>
              <p class="chatbox__description--header">
                Hi. My name is Saira. How can I help you?
              </p>
            </div>
          </div>
          <div class="chatbox__messages">
            <div></div>
          </div>
          <div class="chatbox__footer">
            <input type="text" placeholder="Write a message..." />
            <button class="chatbox__send--footer send__button">Send</button>
          </div>
        </div>
        <div class="chatbox__button">
          <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
      </div>
    </div>
    <!-- CHATBOT END -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="homefirst">
      <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed=new Typed(".auto-input",{
            strings:[ "CANCEROPEDIA"],
            typeSpeed:100,
            backspeed:25,
            loop:true
                })
    </script> -->
      <h1>Shop</h1>
      <h1 id="aaaa">Lift</h1>
      <h1>.com</h1>
    </div>
    <!-- BOXES -->

    <div class="container1">
      <div class="card">
        <div class="circle">
          <h2>01</h2>
        </div>
        <div class="content">
          <p class="para">
            AI Project on Chatbot for E-Commerce Website by:
          </p>
          <button class="show-modal1">Click to know the Magic Names</button>
        </div>
      </div>

      <div class="card">
        <div class="circle">
          <h2>02</h2>
        </div>
        <div class="content">
          <p class="para">
            We are Launching soon.....
          </p>
          <button class="show-modal2">Click to get registered for Beta Version:</button>
        </div>
      </div>

      <div class="card">
        <div class="circle">
          <h3>Products We Offer:</h3>
        </div>
        <div class="content">
          <p class="para">
            We are going to offer a variety of products ranging from:<br>
            -Clothes<br>
            -Electronic Gadgets<br>
            -Kitchen Essentials<br>
            -Footwears
          </p>
          <button class="show-modal3" 9>Stay Tuned......</button>
        </div>
      </div>
    </div>

    <div class="modal1 hidden">
      <button class="close-modal1">&times;</button>
      <h1 class="headingss">TEAM MEMBERS:</h1>
      <p>Kshitiz Raj,Shivam Singh,Ankit Chaturvedi</p>
    </div>
    <!-- <div class="overlay hidden"></div> -->

    <div class="modal2 hidden">
      <button class="close-modal2">&times;</button>
      <h1 class="headingss">Hey there, Dont forget to subscribe to us....</h1>
      <p>We are launching soon....keep up</p>
    </div>
    <!-- <div class="overlay hidden"></div> -->

    <div class="modal3 hidden">
      <button class="close-modal3">&times;</button>
      <h1 class="headingss">We are going to offer a variety of products ranging from:</h1>
    </div>
    <div class="overlay hidden"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="SecondWorkspace">
      <h5>Mentored And Guided by Dr.Aruna Mam</h5> <br>
      <h2>Made By: <br>
        Kshitiz Raj(RA2011003010423) <br>
        Shivam Singh Rathore(RA2011003010423) <br>
        Ankit Chaturvedi(RA2011003010433)
      </h2>
      <br>
      <br>
      <br>
      <br>
    </div>
    <script src="{{ url_for('static', filename='app11.js') }}"></script>
  </body>
</html>
